<<<<<<< HEAD
.institutecontainer{
 border: 1px solid black;
 background-color:yellow;
}

.adminsection{
    background-color: aqua;


=======
 .col-md-6{
    height: 30vh;
    margin-bottom: 2vh;
>>>>>>> 375215a0808363a9455624202698fdc5048ea582
}

.adminsection{
    border: 1px solid red;
    max-width: auto;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
   
}
.row{
    margin-top: 28vh;
}