 .col-md-6{
    height: 30vh;
    margin-bottom: 2vh;
}

.adminsection{
    border: 1px solid red;
    background-color: green;
    max-width: auto;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
   
}
.row{
    margin-top: 28vh;

}

