.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    max-height: 100vh;
}

.adminsection{
    background-color: rgb(20, 25, 25);


}

