.admin-data-branches{
    font-size: 1.6rem;
    text-align: left;
    margin-left: 8%;
}


.admin-dashboard-info-box {
    height: 26.8vh;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.4rem;
    background-color: #836fff;
    color: white;
}

.admin-branch-button {
    display: flex;
    justify-content: right;
}

.admin-branch-btn {
    width: 32vh;
    text-align: center;
    border: 1px solid #836fff;
    color: #836fff;
    margin-top: 8px;
    box-shadow: 0 0 8px #836fff;
}

.admin-permission-button {
    display: block;
}

.admin-branch-btn {
    float: left;
}

.center-div-heading-content {
    margin-bottom: 22px;
}

.center-div-infonumber-content {
    margin-bottom: 22px;
}


.dashboardinfo {
    text-align: left;
    margin-bottom: 4vh;
}


.center-content{
    height: 30vh;
}

.branch-div{
    height: 30vh;
}