.BranchDiv {
    margin-top: 1.8rem;
    margin-bottom: 2rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    padding: 1 1.5rem;
}

.admin_branch_information {
    height: 12vh;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.4rem;
    background-color: #836fff;
    color: white;
}