.col-md-6 {
    height: 30vh;
    margin-bottom: 2vh;
}

.adminsection {
    background-color: transparent;
    max-width: auto;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.img-flile {
    height: 20rem;
    width: 20rem;

}

.AdminLogin {
    text-decoration: none;
    color: rgb(189, 15, 189);
}

.faculty {
    text-decoration: none;
    color: blue;
    position: relative;
    left: 50px;
}

@media only screen and(max-width: 750px) {
    [class*="adminsection"] {
        margin-top: 5vh;
    }
}

.Adminimg {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 80px;
    left: 70px;
    padding: 2px;
    margin: 5px;
    margin-top: 0px;
}

.facultimg {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 80px;
    left: 10px;
    padding: 2px;
    margin: 5px;
}

.instituterow {
    margin-top: 1.25vh;
}